// Main variables

// printing format (without bleeds)
@sheet-width:  420mm;
@sheet-height: 297mm;

// final format
@page-width:  210mm;//148.5mm;
@page-height: 297mm;

@page--ticket-width:  57mm;
@page--ticket-height: auto;

// margins
@cover-margin-top:    20mm;
@cover-margin-ext:    20mm;
@cover-margin-bottom: 20mm;
@cover-margin-int:    20mm;

@page-margin-top:     20mm;
@page-margin-ext:     20mm;
@page-margin-bottom:  20mm;
@page-margin-int:     20mm;

@cover-bleeds-top:    3.2mm;
@cover-bleeds-ext:    3.2mm;
@cover-bleeds-bottom: 3.2mm;
@cover-bleeds-int:    3.2mm;

@page-bleeds-top:     3.2mm;
@page-bleeds-ext:     3.2mm;
@page-bleeds-bottom:  3.2mm;
@page-bleeds-int:     3.2mm;

@ticket-margin-top:    7mm;
@ticket-margin-ext:    7mm;
@ticket-margin-bottom: 7mm;
@ticket-margin-int:    @ticket-margin-ext;

@gutter: 7mm;
@content-half-page-width: 128mm;
@book-text-gutter: @gutter/2;
@book-img-gutter: 6mm;
