/* VARIABLES */
// printing format
@sheet-width:  297mm;
@sheet-height: 210mm;
// final format
@page-width:  297mm;//148.5mm;
@page-height: 210mm;

@cover-margin-top:    9mm;
@cover-margin-ext:    9mm;
@cover-margin-bottom: 9mm;
@cover-margin-int:    9mm;

@page-margin-top:     9mm;
@page-margin-ext:     9mm;
@page-margin-bottom:  9mm;
@page-margin-int:     9mm;

@gutter: 9mm;
@content-half-page-width: 128mm;
@book-text-gutter: @gutter/2;
@book-img-gutter: 6mm;
