.page-backcover {

  background: url("../img/QPQ3-couv.jpg") no-repeat left center;
  background-size: auto 100%;

  .logo{
    width : 45%;
    height: auto;
    position : absolute;
    bottom: @quiproquo2-spacer;
    left : 20mm;
  }

  h3,
  h4 {
    font-size: @font-size-big;
    margin: 0 0 @quiproquo2-spacer 0;
  }

  .info{
    position: absolute;
    left:20mm;
    top: 20mm;
  }

}
