/* =Theme
 * Quiproquo
 * ---------------------------------------------------------------------------*/

// === Typography
@font-size-big: 17pt;
@font-size-base: 9pt;
@quiproquo2-spacer: 7mm;

body {
  // font-family: "Fira Mono", monospace;
  font-family: "Clear Sans", sans-serif;
}
