.page-cover {

  h1{
    font-weight: bold;
    font-size: 151.557pt;
    position: absolute;
    transform-origin:0 0;
    transform: rotate(270deg);
    bottom:-0.93em;
    line-height:1;
    left:0;
    margin:0;
    text-transform: uppercase;
  }

  h2{
    font-weight: bold;
    font-size: 151.557pt;
    margin:0;
    line-height:1;
  }

  h3{
    font-weight: bold;
    font-size: 37.452pt;
    margin-bottom:5mm;
    margin-top:0;
  }

  h4{
    font-weight: medium;
    font-size: 20pt;
    margin:0;
  }

  .info{
    position: absolute;
    left:115mm;
    top: 160mm;
  }

  .img10{
    position: absolute;
    left:100mm;
    top: 180mm;
  }

  .img2{
    position: absolute;
    left:140mm;
    top: 100mm;
  }

  .img3{
    position: absolute;
    left:50mm;
    top: 70mm;
  }

  .img4{
    position: absolute;
    left:120mm;
    top: 60mm;
  }

  .img5{
    position: absolute;
    left:50mm;
    top: 135mm;
  }

  .img6{
    position: absolute;
    left:85mm;
    top: 20mm;
  }

  .img7{
    position: absolute;
    left:45mm;
    top:60mm;
  }

  .img8{
    position: absolute;
    left:35mm;
    top: 190mm;
  }

  .img9{
    position: absolute;
    left:115mm;
    top: 160mm;
  }

}
