.page-cover {

  background: url("../img/QPQ3-couv.jpg") no-repeat right center;
  background-size: auto 100%;

  h1{
    font-size: 132pt;
    position: absolute;
    transform-origin:0 0;
    transform: rotate(270deg);
    bottom:-0.6em;
    line-height:1;
    left:10mm;
    margin:0;
    text-transform: uppercase;
  }

  h2{
    font-size: 132pt;
    margin:0;
    line-height:1;
  }

  .info{
    position: absolute;
    bottom:16mm;
    right: 18mm;
  }

}
