.page-edito {

  background-size: 100% auto;
  background-repeat: repeat-y;

  figure {
    display: block;
    position : absolute;
    bottom: 12mm;
    right : 20mm;
    margin: 0;

    img {
      width: 55mm;
    }
  }

  h3, p {
    font-size: @font-size-big;
    margin-left:50mm;
  }
  h3 {
    margin-top:0mm;
    margin-bottom:5mm;
  }
  p {
    margin-top: 0;
    margin-bottom:5mm;
  }
  p.small {
    font-size: @font-size-base;
    margin-bottom: .5em;
  }

}
