// === Structure
.index {

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;

  font-size: @font-size-base;
  color: #888;
  height: 100%;

  p {
    margin: 0;
  }

  .photoitem{

    margin: 0 @quiproquo2-spacer @quiproquo2-spacer 0;

    &:nth-child(4n) {
      margin-bottom: 0;
    }

    p{
      white-space: nowrap;
      overflow: visible;
      transform: translate(.9em,-1.8em);
      height: 0;
      color: #fff;
    }

    .photo{
      display: block;
      width: 82mm;
      height: 58mm;
      // height: (3024 / 4032) * 82mm;
      background-color: silver;
      object-fit: cover;
    }

  }

  .titre {
    color: #1A1A1A;
    font-weight: @font-weight-big;
  }

  .nom,
  .city {
    text-transform: capitalize;
  }

  .cote{
    text-transform: uppercase;
    font-weight: @font-weight-big;
  }

  .legende{
    width: 82mm;
    margin-right: @quiproquo2-spacer;
    border-bottom: dashed 1pt #1A1A1A;
    padding-bottom: @quiproquo2-spacer;
    margin-bottom: @quiproquo2-spacer;
  }

  .pagenb{
    margin-bottom: 1em;
  }

}
