// === Structure
.index {

  height: 257mm;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;

  font-size: 10pt;
  color: #888;

  p {
    margin: 0;
  }

  .photoitem{

    margin: 0 7mm 13mm 0;

    p{
      margin-top: 1em;
      width: 52mm;
      white-space: nowrap;
      overflow: hidden;
    }

    .photo{
      width: 52mm;
      height: 34mm;
      background-color: silver;
    }

  }

  .titre {
    color: #1A1A1A;
  }

  .nom,
  .city {
    text-transform: capitalize;
  }

  .cote{
    font-weight: bold;
    text-transform: uppercase;
  }

  .legende{
    width: 52mm;
    margin-right: 7mm;
    border-bottom: dashed 1pt #1A1A1A;
    padding-bottom: 7mm;
    margin-bottom: 7mm;
  }

  .pagenb{
    margin-bottom: 1em;
  }

}
