.page-ours {

  background-size: 100% auto;
  background-repeat: repeat-y;

  h3, p {
    font-size: @font-size-big;
    // color:#fff;
    margin-top: 0;
    margin-bottom: @quiproquo2-spacer;
    margin-right: 50mm;

    &:last-child {
      margin-bottom: 0;
    }
  }

  p.small {
    font-size: @font-size-base;
    margin-bottom: .5em;
  }

}
