.page-ticket {

  font-size: 10pt;

  .ticket {
    padding-bottom: 4.5mm;
  }

  p {
    width: 48mm;
    margin: 0;

    &.titre {
      margin: .5em 0;
    }

  }

  .legende{
    border-bottom: dashed 1pt #1A1A1A;
    padding-bottom:1em;
    margin-bottom: 1em;
  }

  .photo{
    width: 48mm;
    height: auto;
  }

}
