@import '../fonts/Fira/fira.css';
@import '../fonts/clearsans/clearsans.css';
/* =Pantoufle
 * v0.2.
 * ---------------------------------------------------------------------------*/
.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.page {
  position: relative;
  float: left;
  width: 210mm;
  height: 297mm;
  overflow: hidden;
}
.page .content {
  position: static !important;
  overflow: hidden;
  width: calc(100% - 40mm);
  height: calc(100% - 40mm);
  margin-top: 20mm;
  margin-bottom: 20mm;
}
.page#cover .content {
  width: calc(100% - 40mm);
  height: calc(100% - 40mm);
  margin-top: 20mm;
  margin-right: 20mm;
  margin-bottom: 20mm;
  margin-left: 20mm;
}
.page.page-default:nth-of-type(even) .content {
  margin-left: 20mm;
  margin-right: 20mm;
}
.page.page-default:nth-of-type(odd) .content {
  margin-left: 20mm;
  margin-right: 20mm;
}
.page.page-ticket {
  position: relative;
  width: 57mm;
  height: auto;
  overflow: hidden;
}
.page.page-ticket .content {
  position: static !important;
  overflow: hidden;
  width: calc(100% - 14mm);
  height: calc(100% - 14mm);
  margin-top: 7mm;
  margin-bottom: 7mm;
  margin-right: 7mm;
  margin-left: 7mm;
}
/* =Screen
*/
@media screen {
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }
  html {
    height: 100%;
    width: 100%;
    margin: 0;
  }
  body {
    margin: 0;
    min-width: 450mm;
    background-color: #606060;
  }
  body.preview {
    background-color: #bababa;
  }
  .page {
    margin-top: 1cm;
    background-color: #fff;
    box-shadow: 2px 2px 0px 1px #000, 0px 0px 0px 1px #000;
  }
  .page:last-child {
    margin-bottom: 1cm;
  }
  .page::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 2;
    top: 20mm;
    bottom: 20mm;
    border: 1px solid;
    border-color: #60c600 #738a5e;
    pointer-events: none;
  }
  .page:first-of-type {
    margin-right: 1cm !important;
    margin-left: 220mm !important;
  }
  .page:first-of-type::before {
    top: 20mm !important;
    right: 20mm !important;
    bottom: 20mm !important;
    left: 20mm !important;
  }
  .page.page-default:nth-of-type(even) {
    margin-left: 1cm;
  }
  .page.page-default:nth-of-type(odd) {
    margin-right: 1cm;
  }
  .page.page-default:nth-of-type(even)::before {
    left: 20mm;
    right: 20mm;
  }
  .page.page-default:nth-of-type(odd)::before {
    left: 20mm;
    right: 20mm;
  }
  .page.page-ticket,
  .page.page-ticket:first-of-type {
    margin-left: 1cm !important;
  }
  .page.page-ticket::before,
  .page.page-ticket:first-of-type::before {
    top: 7mm !important;
    bottom: 7mm !important;
    left: 7mm !important;
    right: 7mm !important;
  }
}
/* =Print
*/
@media print {
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }
  @page {
    size: portrait;
    margin: 0mm;
  }
  html,
  body {
    background-color: transparent;
    margin: 0;
  }
  .page {
    width: 100vw;
    height: 100vh;
  }
  body.ticket {
    padding: 1pt 0pt;
  }
  body.ticket .page {
    width: 57mm;
    height: auto;
  }
  body.ticket .page .content {
    width: 43mm;
    margin-right: 2.5mm;
    margin-left: 2.5mm;
  }
  body.ticket .page::before {
    content: "--";
    font-size: 6pt;
    line-height: 1pt;
    display: block;
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
  }
  body.ticket .page::after {
    content: "--";
    font-size: 6pt;
    line-height: 1pt;
    display: block;
    text-align: left;
  }
}
/* =Theme
 * Quiproquo
 * ---------------------------------------------------------------------------*/
body {
  font-family: "Clear Sans", sans-serif;
}
.index {
  height: 25 7mm;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  font-size: 9pt;
  color: #888;
  height: 100%;
}
.index p {
  margin: 0;
}
.index .photoitem {
  margin: 0 7mm 13mm 0;
}
.index .photoitem p {
  margin-top: 0;
  width: 52mm;
  white-space: nowrap;
  overflow: hidden;
}
.index .photoitem .photo {
  width: 52mm;
  height: 34mm;
  background-color: silver;
}
.index .titre {
  color: #1A1A1A;
}
.index .nom,
.index .city {
  text-transform: capitalize;
}
.index .cote {
  font-weight: bold;
  text-transform: uppercase;
}
.index .legende {
  width: 52mm;
  margin-right: 7mm;
  border-bottom: dashed 1pt #1A1A1A;
  padding-bottom: 7mm;
  margin-bottom: 7mm;
}
.index .pagenb {
  margin-bottom: 1em;
}
.page-cover h1 {
  font-weight: bold;
  font-size: 140pt;
  position: absolute;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  bottom: -0.9em;
  line-height: 1;
  left: 0;
  margin: 0;
  text-transform: uppercase;
}
.page-cover h2 {
  font-weight: bold;
  font-size: 140pt;
  margin: 0;
  line-height: 1;
}
.page-cover h3 {
  font-weight: bold;
  font-size: 37.452pt;
  margin-bottom: 5mm;
  margin-top: 0;
}
.page-cover h4 {
  font-weight: medium;
  font-size: 20pt;
  margin: 0;
}
.page-cover .info {
  position: absolute;
  bottom: 16mm;
  right: 18mm;
}
.page-cover .gradient {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 32.5%;
  background-image: url("../img/trame1-hd.jpg");
  background-repeat: repeat-y;
  background-size: 307.69230769% auto;
  background-position: left 0;
}
.page-edito {
  background-size: 100% auto;
  background-repeat: repeat-y;
}
.page-edito h3,
.page-edito p {
  font-weight: bold;
  font-size: 17pt;
  margin-left: 50mm;
}
.page-edito h3 {
  margin-top: 0mm;
  margin-bottom: 5mm;
}
.page-edito p {
  margin-top: 0;
  margin-bottom: 5mm;
}
.page-edito--odd {
  background-image: url("../img/trame3-hd.jpg");
}
.page-edito--even {
  background-image: url("../img/trame4-hd.jpg");
}
.page-ours {
  background-size: 100% auto;
  background-repeat: repeat-y;
}
.page-ours h3,
.page-ours p {
  font-weight: bold;
  font-size: 17pt;
  color: #fff;
  margin-top: 0;
  margin-bottom: 7mm;
  margin-left: 50mm;
}
.page-ours h3:last-child,
.page-ours p:last-child {
  margin-bottom: 0;
}
.page-ours p.small {
  font-size: 9pt;
  margin-bottom: .5em;
}
.page-ours--odd {
  background-image: url("https://framapic.org/99hakISC9rLm/l6Q87lGlW849.jpg");
}
.page-ours--even {
  background-image: url("https://framapic.org/vaMtNEJJ9yLA/213V4m9jkbin.jpg");
}
.page-backcover .logo {
  width: 45%;
  height: auto;
  position: absolute;
  bottom: 7mm;
  left: 20mm;
}
.page-backcover h3,
.page-backcover h4 {
  font-weight: medium;
  font-size: 17pt;
  margin: 0 0 7mm 0;
}
.page-backcover .info {
  position: absolute;
  left: 20mm;
  top: 20mm;
}
.page-backcover .gradient {
  z-index: 0;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 32.5%;
  background-image: url("../img/trame2-hd.jpg");
  background-repeat: repeat-y;
  background-size: 307.69230769% auto;
  background-position: right 0;
}
.page-ticket {
  font-size: 6.75pt;
}
.page-ticket .ticket {
  border-bottom: 1pt dashed #1A1A1A;
  padding-bottom: 7mm;
}
.page-ticket .ticket + .ticket {
  margin-top: 7mm;
}
.page-ticket figure {
  margin: 0;
}
.page-ticket img {
  display: block;
  max-width: 100%;
}
.page-ticket .ticket--badge {
  font-weight: 700;
  padding-bottom: 0;
}
.page-ticket .ticket--badge figure {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
}
.page-ticket .ticket--badge figure img {
  margin-right: -2mm;
}
.page-ticket .ticket--badge figure figcaption {
  margin-left: 7mm;
  white-space: nowrap;
}
.page-ticket .ticket--badge p.address {
  margin-top: 7mm;
  margin-bottom: 2mm;
}
.page-ticket .ticket--badge p.number {
  text-align: right;
  font-size: 27pt;
  margin: 0;
}
.page-ticket .ticket--stock {
  font-weight: 700;
  height: 130mm;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.page-ticket .ticket--stock p.number {
  text-align: right;
  font-size: 27pt;
  margin: 0;
}
.page-ticket .ticket--expo {
  margin-top: 14mm;
}
.page-ticket .ticket--expo p {
  margin-top: 0;
  margin-bottom: 0;
}
.page-ticket .ticket--expo p.authors,
.page-ticket .ticket--expo p.title {
  font-weight: 700;
}
.page-ticket .ticket--expo p.authors {
  margin-top: 3.5mm;
  text-transform: capitalize;
}
.page-ticket .ticket--expo p.title {
  margin-bottom: 3.5mm;
}
.page-ticket .ticket--expo p.id {
  margin-top: 7mm;
  font-size: 27pt;
  font-weight: 700;
  text-align: right;
  position: absolute;
  bottom: 14mm;
  width: 43mm;
}
.page-ticket .ticket--expo + .ticket--badge {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
  flex-flow: column;
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-top: 0;
  margin-bottom: 14mm;
  border-bottom: none;
  padding-bottom: 0;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.page-ticket .ticket--message {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-weight: 700;
  font-size: 112pt;
  height: 66cm;
}
.reverse {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column-reverse;
  flex-flow: column-reverse;
}
.reverse > * {
  height: 130mm;
}
@media screen {
  body {
    -ms-transform-origin: top left;
    transform-origin: top left;
  }
}
