@import '../fonts/Aileron/aileron.css';
@import '../fonts/Savate/stylesheet.css';
/* VARIABLES */
/* Additional variables */
.page {
  position: relative;
  float: left;
  width: 297mm;
  height: 210mm;
  overflow: hidden;
}
.page .content {
  position: static !important;
  overflow: hidden;
  width: calc(100% - 18mm);
  height: calc(100% - 18mm);
  margin-top: 9mm;
  margin-bottom: 9mm;
}
.page#cover .content {
  width: calc(100% - 18mm);
  height: calc(100% - 18mm);
  margin-top: 9mm;
  margin-right: 9mm;
  margin-bottom: 9mm;
  margin-left: 9mm;
}
.page.page-default .content {
  margin-left: 9mm;
  margin-right: 9mm;
}
/* =Screen
  -----------------------------------------------------------------------------*/
@media screen {
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }
  html {
    height: 100%;
    width: 100%;
    margin: 0;
  }
  body {
    margin: 0;
    min-width: 327mm;
    background-color: #606060;
  }
  body.preview {
    background-color: #bababa;
  }
  .page {
    margin-top: 1cm;
    background-color: #fff;
    box-shadow: 2px 2px 0px 1px #000, 0px 0px 0px 1px #000;
  }
  .page:last-child {
    margin-bottom: 1cm;
  }
  .page:before {
    content: "";
    display: block;
    position: absolute;
    top: 9mm;
    bottom: 9mm;
    border: 1px solid;
    border-color: #ff4fff #9933ff;
    pointer-events: none;
  }
  .page#cover {
    margin-right: 1cm;
    margin-left: 1cm;
  }
  .page#cover:before {
    top: 9mm;
    right: 9mm;
    bottom: 9mm;
    left: 9mm;
  }
  .page.page-default {
    margin-right: 1cm;
    margin-left: 1cm;
  }
  .page.page-default:before {
    left: 9mm;
    right: 9mm;
  }
}
/* =Print
  -----------------------------------------------------------------------------*/
@media print {
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }
  @page {
    size: landscape;
    margin: 0mm;
  }
  html,
  body {
    background-color: transparent;
    margin: 0;
  }
  .page {
    width: 100vw;
    height: 100vh;
  }
}
body {
  font-family: 'Aileron', serif;
  font-size: 6pt;
  line-height: 1.1;
}
.book h2 {
  font-family: 'Savate', serif;
  font-size: 8pt;
  font-style: italic;
}
.book h3 {
  font-weight: normal;
}
.page-default .half {
  width: 135mm;
  height: calc(100% + 9mm);
  overflow: hidden;
  margin-top: -4.5mm;
}
.page-default .half:first-child {
  float: left;
  writing-mode: vertical-rl;
}
.page-default .half:last-child {
  float: right;
  writing-mode: sideways-lr;
}
.book {
  float: left;
  width: calc(50% - 4.5mm);
  height: 33.33333333%;
  padding-top: 4.5mm;
  padding-bottom: 4.5mm;
  overflow: hidden;
}
.book figure {
  margin: 0;
  width: 34.5mm;
}
.book figure img {
  width: 46mm;
  height: auto;
}
.book h2,
.book h3,
.book p {
  margin: 0;
}
.book .col {
  height: 50%;
  float: left;
}
.half:first-child .book {
  margin-right: 4.5mm;
}
.half:first-child .book figure {
  margin-left: 2.25mm;
}
.half:first-child .book img {
  margin-top: 6mm;
  transform-origin: top right;
  transform: rotate(90deg) translateX(100%);
}
.half:first-child .book .col.col-a {
  padding-bottom: 2.25mm;
}
.half:first-child .book .col.col-b {
  padding-top: 2.25mm;
}
.half:first-child .book h2 {
  margin-left: 1em;
}
.half:last-child .book {
  margin-left: 4.5mm;
}
.half:last-child .book figure {
  margin-right: 2.25mm;
}
.half:last-child .book img {
  margin-bottom: 6mm;
  transform-origin: bottom left;
  transform: rotate(-90deg) translateY(100%);
}
.half:last-child .book .col.col-a {
  padding-top: 2.25mm;
}
.half:last-child .book .col.col-b {
  padding-bottom: 2.25mm;
}
.half:last-child .book h2 {
  margin-right: 1em;
}
@media screen {
  .page-default:first-of-type {
    background: blue url('../img/catalogue troc-design.jpg') center no-repeat;
    background-size: 297mm 210mm;
  }
  .book {
    position: relative;
  }
  .book:before {
    content: "";
    display: block;
    position: absolute;
    top: 4.5mm;
    right: 0;
    bottom: 4.5mm;
    left: 0;
    box-shadow: 0 0 0 1px cyan inset;
  }
}
