@import '../fonts/Aileron/aileron.css';
@import '../fonts/Savate/stylesheet.css';
/* VARIABLES */
/* Additional variables */
.page {
  position: relative;
  float: left;
  width: 297mm;
  height: 210mm;
  overflow: hidden;
}
.page .content {
  position: static !important;
  overflow: hidden;
  width: calc(100% - 18mm);
  height: calc(100% - 18mm);
  margin-top: 9mm;
  margin-bottom: 9mm;
}
.page#cover .content {
  width: calc(100% - 18mm);
  height: calc(100% - 18mm);
  margin-top: 9mm;
  margin-right: 9mm;
  margin-bottom: 9mm;
  margin-left: 9mm;
}
.page.page-default .content {
  margin-left: 9mm;
  margin-right: 9mm;
}
/* =Screen
  -----------------------------------------------------------------------------*/
@media screen {
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }
  html {
    height: 100%;
    width: 100%;
    margin: 0;
  }
  body {
    margin: 0;
    min-width: 327mm;
    background-color: #606060;
  }
  body.preview {
    background-color: #bababa;
  }
  .page {
    margin-top: 1cm;
    background-color: #fff;
    box-shadow: 2px 2px 0px 1px #000, 0px 0px 0px 1px #000;
  }
  .page:last-child {
    margin-bottom: 1cm;
  }
  .page:before {
    content: "";
    display: block;
    position: absolute;
    top: 9mm;
    bottom: 9mm;
    border: 1px solid;
    border-color: #ff4fff #9933ff;
    pointer-events: none;
  }
  .page#cover {
    margin-right: 1cm;
    margin-left: 1cm;
  }
  .page#cover:before {
    top: 9mm;
    right: 9mm;
    bottom: 9mm;
    left: 9mm;
  }
  .page.page-default {
    margin-right: 1cm;
    margin-left: 1cm;
  }
  .page.page-default:before {
    left: 9mm;
    right: 9mm;
  }
}
/* =Print
  -----------------------------------------------------------------------------*/
@media print {
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }
  @page {
    size: landscape;
    margin: 0mm;
  }
  html,
  body {
    background-color: transparent;
    margin: 0;
  }
  .page {
    width: 100vw;
    height: 100vh;
  }
}
body {
  font-family: 'Aileron', serif;
  font-size: 6pt;
  line-height: 1.1;
}
.book h2 {
  font-family: 'Savate', serif;
  font-weight: normal;
  font-style: italic;
  font-size: 8pt;
  line-height: 1;
}
.book h3 {
  font-weight: normal;
}
.exchange h2 {
  font-family: 'Savate', serif;
  font-style: italic;
  font-weight: normal;
  font-size: 30pt;
  text-align: center;
}
.exchange p {
  font-size: 30pt;
  text-align: right;
}
.page-default .content {
  position: relative !important;
}
.page-default .half {
  position: absolute;
  top: 0;
  width: 201mm;
  height: 128mm;
  overflow: hidden;
  margin-top: -4.5mm;
}
.page-default .half:nth-child(1) {
  left: 0;
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  -webkit-transform: rotate(90deg) translateY(-100%);
  -ms-transform: rotate(90deg) translateY(-100%);
  transform: rotate(90deg) translateY(-100%);
}
.page-default .half:nth-child(2) {
  right: 0;
  -webkit-transform-origin: top right;
  -ms-transform-origin: top right;
  transform-origin: top right;
  -webkit-transform: rotate(-90deg) translateY(-100%);
  -ms-transform: rotate(-90deg) translateY(-100%);
  transform: rotate(-90deg) translateY(-100%);
}
.page-exchange .half {
  overflow: visible !important;
}
.book {
  float: left;
  width: 33.33333333%;
  height: 50%;
  overflow: hidden;
  padding-left: 4.5mm;
  padding-right: 4.5mm;
}
.book figure {
  margin: 4.5mm 6mm 2.25mm 6mm;
}
.book figure img {
  width: 100%;
  height: auto;
}
.book h2,
.book h3,
.book p {
  margin: 0;
}
.book h2 {
  margin-bottom: 1em;
}
.book .text {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 4.5mm;
  -moz-column-gap: 4.5mm;
  column-gap: 4.5mm;
}
.exchange {
  position: relative;
  height: 100%;
  margin: 0;
  padding-left: 4.5mm;
  padding-right: 4.5mm;
}
.exchange img {
  width: 100%;
  height: auto;
  margin-top: 4.5mm;
}
.exchange h2,
.exchange p {
  position: absolute;
  margin: 0;
}
.exchange h2 {
  width: 192mm;
  bottom: 9mm;
  text-shadow: 0 0 30pt rgba(255, 255, 255, 0.2);
}
.exchange p {
  top: 9mm;
  right: 1em;
}
.exchange p span {
  margin: 0 1em;
}
.exchange p:after {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  pointer-events: none;
  right: 0;
  bottom: .5em;
  left: 0;
  height: 50mm;
  background: url('../img/fleches.svg') center no-repeat;
  background-size: auto 60%;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
@media screen {
  .book {
    position: relative;
  }
  .book:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 0 0 1px cyan inset;
    pointer-events: none;
  }
}
