<section class="page page-default page-backcover">
  <div class="content">

    <div class="logo">
      <img src="http://la-bibliotheque.de/quiproquo/content/logo-quiproquo.svg";>
    </div>

  </div>
</section>
