<section class="page page-default page-backcover">
  <div class="content">

    <div class="gradient"></div>

    <div class="logo">
      <img src="http://la-bibliotheque.de/quiproquo/content/logo-quiproquo.svg";>
    </div>

    <div class="info">
      <h3> Un troc<br>dՎditions </h3>
      <h4>
        31 mars 2017 <br>
        1 avril 2017 <br>
        Patio de la HEAR <br>
        Strasbourg
      </h4>
    </div>

  </div>
</section>
