<section class="page page-default page-cover">
  <div class="content">

    <div class="gradient"></div>

    <h1>Quiproquo</h1>

    <div class="info">
      <h2>#3</h2>
    </div>

  </div>
</section>
