<section class="page page-default page-cover">
  <div class="content">

    <h1>Quiproquo</h1>

    <div class="info">
      <h2>#2</h2>
      <h3> Un troc<br>dՎditions </h3>
      <h4>
        31 mars 2017 <br>
        Patio de la HEAR <br>
        Strasbourg
      </h4>
    </div>

    <div class="img2">
      <img src="http://la-bibliotheque.de/quiproquo/content/home/etapes-qpq01.svg";>
    </div>

    <div class="img3">
      <img src="http://la-bibliotheque.de/quiproquo/content/home/etapes-qpq02.svg";>
    </div>

    <div class="img4">
      <img src="http://la-bibliotheque.de/quiproquo/content/home/etapes-qpq03.svg";>
    </div>

    <div class="img5">
      <img src="http://la-bibliotheque.de/quiproquo/content/home/etapes-qpq04.svg";>
    </div>

    <div class="img6">
      <img src="http://la-bibliotheque.de/quiproquo/content/home/etapes-qpq05.svg";>
    </div>

    <div class="img7">
      <img src="http://la-bibliotheque.de/quiproquo/content/home/etapes-qpq06.svg";>
    </div>

    <div class="img8">
      <img src="http://la-bibliotheque.de/quiproquo/content/home/etapes-qpq07.svg";>
    </div>

    <div class="img10">
      <img src="http://la-bibliotheque.de/quiproquo/content/fleche-droite.svg";>
    </div>

  </div>
</section>
