<section class="page page-default page-edito page-edito--odd">
  <div class="content">


  </div>
</section>

<section class="page page-default page-edito page-edito--even">
  <div class="content">

    <h3>Édito</h3>

    <p>
      <strong>Rien à vendre, tout à dépenser.</strong>
    </p>
    <p>
      <strong>C’est un complet Quiproquo. Tu viens avec un livre, tu repars avec un autre.</strong>
    </p>
    <p>
      Le deuxième troc d’éditions est organisé le vendredi 31 mars et samedi 1er avril 2017. Son nom ? Quiproquo. C’est une promesse d’échange : un qui pour un quo. Il a lieu à la Hear, dans le cadre de Exemplaires 2017. L’occasion de réunir les pratiques éditoriales en écoles, mêlant étudiants à enseignants à intervenants: l’EESAB – Rennes, l’ENSBA – Lyon, l’ERG – Bruxelles, l’ESAD – Valence, la HEAD – Genève, la HEAR – Mulhouse/Strasbourg, l’ISBA – Besançon, l’isdaT – Toulouse, LISAA – Strasbourg, Université des arts visuels – Strasbourg, le Lycée Gutenberg – Illkirch, le Pôle Supérieur de Design Le Corbusier – Illkirch, l’Université Paris 8, l’UQAM – Montréal…
    </p>

  </div>
</section>

<section class="page page-default page-edito page-edito--odd">
  <div class="content">


  </div>
</section>

<section class="page page-default page-edito page-edito--even">
  <div class="content">

    <p>
      <strong>Tu penses à des équivalences. Tu soupèses la chose. Tu l’évalues. Tu aimes ou tu tentes le coup. Ça se change comme ça, en négociation, en faisant un pari.</strong>
    </p>
    <p>
      <strong><em>Chantre</em> contre <em>Phobo Phobie</em>, <em>open modele</em> contre <em>Lubriquité exotique</em>, <em>Orestie</em> contre <em>Monstre dépression</em>, <em>Après-demain</em> contre <em>Black out</em>, <em>Blitzzz</em> contre <em>Chien</em>, la quadri contre la bichromie, le carré-collé contre le juste plié, le 26 contre le 17, le 55 contre le 2.</strong>
    </p>
    <p>
      Cette fois encore, la scénographie a été conçue pour l’occasion, des échelles en combinaisons, toutes en légèreté, lors d’un workshop avec les étudiants de l’InsituLab. En résulte un mobilier transportable, incliné et mobile comme les livres. Les marque pages font le lien. Tout s’accorde et se relie au catalogue. Grâce au code développé en amont, le catalogue est mouvant jusqu’à la dernière minute, jusqu’à l’arrivée du dernier participant…
      <strong>Le Quiproquo c’est ceci & cela. C’est spontané, éphémère, cumulatif & équilibré. C’est & et & et &… Un troc de trucs imprimés.</strong>
    </p>

  </div>
</section>
