<section class="page page-default page-edito page-edito--odd">
  <div class="content">


  </div>
</section>

<section class="page page-default page-edito page-edito--even">
  <div class="content">

    <figure>
      <img src="print/assets/img/logo-quiproquo.svg" alt="">
    </figure>

    <h3>Édito</h3>

  </div>
</section>
