<section class="page page-default page-edito page-edito--odd">
  <div class="content">


  </div>
</section>

<section class="page page-default page-edito page-edito--even">
  <div class="content">

    <h3>Édito</h3>

    <p>
    Jour 1, l’espace est blanc, bien blanc, nous sommes dans un atelier
    d’artiste. En arrière-plan, une bibliothèque, quelques plantes et une
    verrière. Sur quatre câbles tendus, se reposent et se côtoient les éditions
    de Quiproquo. Elles dessinent deux rangs de livres. Un alignement doux en
    progression. Certains artistes ont posé leurs livres à deux endroits, sur la
    table des ventes, sur le fil du troc. Des visiteurs apportent des
    publications confidentielles. Les fils se courbent, les livres circulent.<br>
    Ici on capture la couverture de chaque ouvrage. Là, on imprime les cartels
    à l’aide d’une petite imprimante. Le livre est déposé, de 1 à 3 exemplaires.
    Vous repartez avec un ticket rose, un numéro par livre.<br>
    Jour 2, au sol, contre les murs, sur les coussins, ou bien au fond de
    l’espace dans le coin salon, on feuillette, on discute, livre à la main,
    pendant que les performances se succèdent.<br>
    Jour 3, le moment venu, vous affichez vos galons et partez en troc.<br>
    Cela dure un peu plus d’une heure, vous pouvez faire une proposition
    d’échange, ou bien attendre une demande, c’est le jeu de la rencontre. Les
    invitations donnent lieu →
    </p>

  </div>
</section>

<section class="page page-default page-edito page-edito--odd">
  <div class="content">


  </div>
</section>

<section class="page page-default page-edito page-edito--even">
  <div class="content">

    <p>
    → à des discussions, et si les choses concordent, à
    un accord. À chaque coup de cœur vous recommencez. Si vous tendez l’oreille
    vous pouvez apercevoir les raisons, les papiers, les contextes, les
    responsabilités, les assemblages qui se racontent et qui se tissent ; tous
    ces points communs, ces hasards qui font se rapprocher et se croiser les
    livres.
    </p>

    <p>
      --<br>
      Ancolas Couturelli<br>
      --
    </p>

    <figure>
      <img src="print/assets/img/logo-quiproquo.svg" alt="">
    </figure>

  </div>
</section>
