<section class="page page-default page-ours page-ours--odd">
  <div class="content">

    <h3>Ours</h3>

    <p>
      Quiproquo est une proposition d’Angeline Ostinelli,
      portée par l’association &&,
      avec Nicolas Couturier et Julien Gargot.
    </p>

    <p>
      Sur une invitation de Jérôme Dupeyrat,
      Camila Oliveira Fairclough
      et Raffaella della Olga.
    </p>

    <p class="small">
      Le texte est composé avec le Clear Sans de Neil Summerour, <br>
      téléchargeable à l’adresse: https://clear.positype.com <br>
      La mise en page de ce document a été fabriqué automatiquement <br>
      par <em>Pantoufle</em>, un programme de Julien Gargot, à partir d’un <br>
      formulaire en ligne. https://github.com/g-u-i/quiproquo
    </p>

    <p class="small">
      La côte des livre est construite ainsi : <br>
      N<sup>o</sup> du troc. N<sup>o</sup> du livre. Largeur. Hauteur. Nbre de pages. Couleur. Nbr d’ex. <br>
      Code Couleur: C = Couleur / NB = Noir et blanc / + = Autre.
    </p>

  </div>
</section>

<section class="page page-default page-ours page-ours--even">
  <div class="content">

  </div>
</section>
