<section class="page page-default page-ours page-ours--odd">
  <div class="content">


  </div>
</section>

<section class="page page-default page-ours page-ours--even">
  <div class="content">

    <h3>Ours</h3>

    <p>
      Avec la participation de l’EESAB - Rennes, l’ENSBA - Lyon, l’ERG - Bruxelles, l’ESAD - Valence, la HEAD - Genève, la HEAR - Strasbourg/Mulhouse, l’ISBA - Besançon, l’isdaT - Toulouse, LISAA - Strasbourg, le Lycée Gutenberg - Illkirch, le Pôle Supérieur de Design Le Corbusier - Illkirch, l’Université des arts visuels – Strasbourg, l’UQAM - Montréal.
    </p>

    <p>
      Scénographie et catalogue réalisés lors d’un workshop d’Angeline Ostinelli et Julien Gargot avec les étudiants du DSAA inSituLab, Florent Alexandre, Koulma Bilger, Pétronille Camphuis, Sophie Chialva, Solène Dietz, Juliette Ganteille, Célia Galipaud, Thomas Huard, Suzanne Husson, Elín-Margot Höskuldsson, Pauline Molina, Morgane Marin, Mathilde Richard, Maeva Tobalagba et Mélodie Valverde.
    </p>

    <p>
      Avec le soutien de Fedrigoni, la HEAR et le Pôle Supérieur de Design Le Corbusier
    </p>

    <p class="small">
      Côte : N° du live. Largeur. Hauteur. Nbre de pages. Couleur. Nbre d'exemplaires<br>
      Couleur: C = Couleur / NB = Noir et blanc / + = Autres.
    </p>

  </div>
</section>
